@font-face {
    font-family: 'PT Serif';
    src: url('pt-serif_regular.woff2') format('woff2');
}

body {
    font-family: 'PT Serif', serif;
    /*background-color: #fefcf1;*/
    background-color: #fff8ec;
}

img-thumbnail {
    /*background-color: #fefcf1;*/
    background-color: #fff8ec;
}

nav {
    background-color: #ffefd4;
}