@font-face {
    font-family: 'PT Serif';
    src: url('pt-serif_regular.woff2') format('woff2');
}

body {
    font-family: 'PT Serif', serif;
    /*background-color: #fefcf1;*/
    background-color: #f7f1e7;
}

img {
    /*background-color: #fefcf1;*/
    background-color: #f7f1e7;
}

nav {
    background-color: #fff5cd;
}